@import url(https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500&f[]=clash-display@500,600,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url("react-loading-skeleton/dist/skeleton.css");
@import url("react-toastify/dist/ReactToastify.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --defaultBackground: #070913;
  --secondary: #212529;
  --accent: rgb(11, 168, 116);
  --fontPrimary: "Satoshi", sans-serif;
  --fontClasha: "Clash Display", sans-serif;
}

body {
  background: var(--defaultBackground);
  color: aliceblue;
  font-family: var(--fontClasha);
}

.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

.text-satoshi {
  font-family: var(--fontPrimary);
}

.default-font {
  font-family: var(--fontClasha);
}

.hero-grad {
  background: linear-gradient(
    180deg,
    #f7f8f800 0%,
    rgba(3, 53, 49, 0.7) 89.38%
  );
}

.gradient-text {
  font-weight: 600;
  background: linear-gradient(
    180deg,
    #f7f8f8 0%,
    rgba(141, 218, 212, 0.7) 89.38%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}
